/* ==================================================== */
/* GLOBAL
/* ==================================================== */

hr {
	border-top: 1px solid #aaa;
	margin: 12px 0;
}

/* ==================================================== */
/* HEADER
/* ==================================================== */

.buttons-header {
	padding-top: 22px;
}